div {
    width: 366px;
    height: 420px;
    background-color: #FAF4EF;
    margin-left: 537px;
    margin-top: 285px;
    margin-bottom: 319px;
    border-bottom-left-radius: 50px;
    margin: 150px auto;
}
h1 {
    padding-top: 43px;
    color:#4B4B4B;
    margin-left: 46.11px;
    margin-right: 30.41px;
    margin-top: 43px;
    font-size: 36px;
    line-height: 36px;
}
p {
    color:#737373;
    margin-left: 46.11px;
    margin-right: 141.91px;
    font-size: 24px;
    line-height: 24px;
}
img {
    width: 231.13px;
    height: 285px;
    motion-rotation: 180grad;
    margin-top: 30px;
    margin-left: 67px;
    margin-bottom: 284px;
    margin-right: 67.87px;

}